body{
    padding-top: 70px;
    background: black;
    /* background: url(https://images.unsplash.com/photo-1516571748831-5d81767b788d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1534&q=80); */
    background: url(eberhard-grossgasteiger-338314-unsplash.jpg);
    /* background-size: auto; */
    /* background-size: inherit; */
    /* background-size: initial; */
    /* background-size: unset; */
    background-position: center;
    background-size: cover;
    /* width: 100%;
    height: 100%;*/
    /* background-size: 100% 100%; */
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 1%;
}
*{box-sizing: border-box;}
.jumbotron{
    color: #2c3e50;
    background: #ecf0f1;
    padding: 0%;
}
.navbar-inverse{
    background: #2c3e50;
}
.navbar-inverse .navbar-brand{
    color: white;
}
.navbar-inverse .navbar-nav>li>a{
    color: white;
}
.form-control1{
    width: 50%;
}
.form-control:focus {
    border: 3px solid red;
}


fieldset
{
  padding: 0%;
}
.thumbnail{
    background: none;
    color: white;
    border: 0;
}
.box input[type="text"], .box input[type="email"], .box input[type="option"], .box input[type="date"], .box input[type="password"]{
    border: 0;
    background: none;
    display: block;
    text-align: center;
    border: 2px solid  #00ffdd;
    padding: 14px 10px;
    width: 90%;
    outline: none;
    color: whitesmoke;
    border-radius: 24px;
    transition: 0.25s;
    height: 35px;
}
textarea{
    border: 0;
    background: none;
    display: block;
    text-align: center;
    border: 2px solid  #3cff00;
    padding: 14px 10px;
    width: 100%;
    outline: none;
    color: whitesmoke;
    border-radius: 24px;
    transition: 0.25s;
}
textarea:focus{
    width: 100%;
    border-color: red;
}

textarea::placeholder, .box input::placeholder{
    color: goldenrod;
}
.box input[type="text"]:focus, .box input[type="email"]:focus, .box input[type="option"]:focus, .box input[type="date"]:focus, .box input[type="password"]:focus{
    width: 100%;
    border-color: red;
}
textarea:hover, .box input[type="text"]:hover, .box input[type="email"]:hover, .box input[type="option"]:hover, .box input[type="date"]:hover, .box input[type="password"]:hover{
    border: 2px solid rgb(165, 138, 238);
}
.box input[type="submit"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #00ffdd;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}
.box input[type="submit"]:hover{
    background: #2ecc71;
}

.boxDisabled input[type="text"], .boxDisabled input[type="email"], .boxDisabled input[type="option"]{
    border: 0;
    background: none;
    display: block;
    text-align: center;
    border: 2px solid  #3cff00;
    padding: 14px 10px;
    width: 100%;
    outline: none;
    color: whitesmoke;
    border-radius: 24px;
    transition: 0.25s;
}
.boxDisabled input::placeholder{
    color: goldenrod;
}

input:required:valid {
    border-color: #3cff00;
}
input-tag:valid {
    border-color: #3cff00;
}
.btn{
    border: 1px solid orange;
    background: none;
    padding: 10px 20px;
    font-size: 20px;
    font-family: "montserrat";
    cursor: pointer;
    margin: 10px;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
}
.btn1, .btn2{
    color: orange;
}
.btn3, .btn4{
    color: #fff;
}
.btn1:hover, .btn2:hover{
    color: #fff;
}
.btn1:focus, .btn2:focus{
    color: #fff;
}
.btn3:hover, .btn4:hover{
    color: orange;
}
.btn3:focus, .btn4:focus{
    color: orange;
}
.btn::before{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background: orange;
    z-index: -1;
    transition: 0.8s;
    color: orange;  
}
.btn1::before, .btn3::before{
    top: 0;
    border-radius: 0 0 50% 50%;
}
.btn2::before, .btn4::before{
    bottom: 0;
    border-radius: 50% 50% 0 0;
}
.btn3::before, .btn4::before{
    height: 180%;
}
.btn1::before, .btn2::before{
    height: 0%;
}
.btn1:hover::before, .btn2:hover::before, .btn2:focus::before, .btn1:focus::before{
    height: 180%;
}
.btn3:hover::before, .btn4:hover::before, .btn3:focus::before, .btn4:focus::before{
    height: 0%;
}