body{
    padding-top: 70px;
    background: black;
    background: url(modern-affliction-403589-unsplash.jpg);
    background-position: center;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 1%;
}
*{box-sizing: border-box;}
.jumbotron{
    color: #2c3e50;
    background: #ecf0f1;
    padding: 0%;
}
.navbar-inverse{
    background: #2c3e50;
}
.navbar-inverse .navbar-brand{
    color: white;
}
.navbar-inverse .navbar-nav>li>a{
    color: white;
}
.form-control1{
    width: 50%;
}
.form-control:focus {
    border: 3px solid red;
}


fieldset
{
  padding: 0%; 
}
.thumbnail{
    background: none;
    color: white;
    border: 0;
}
.box input[type="text"], .box input[type="email"], .box input[type="option"], .box input[type="date"]{
    border: 0;
    background: none;
    display: block;
    text-align: center;
    border: 2px solid  #00ffdd;
    padding: 14px 10px;
    width: 90%;
    outline: none;
    color: whitesmoke;
    border-radius: 24px;
    transition: 0.25s;
    height: 35px;
}
textarea{
    border: 0;
    background: none;
    display: block;
    text-align: center;
    border: 2px solid  #3cff00;
    padding: 14px 10px;
    width: 100%;
    outline: none;
    color: whitesmoke;
    border-radius: 24px;
    transition: 0.25s;
}
textarea:focus{
    width: 100%;
    border-color: red;
}

textarea::placeholder, .box input::placeholder{
    color: goldenrod;
}
.box input[type="text"]:focus, .box input[type="email"]:focus, .box input[type="option"]:focus, .box input[type="date"]:focus{
    width: 100%;
    border-color: red;
}
textarea:hover, .box input[type="text"]:hover, .box input[type="email"]:hover, .box input[type="option"]:hover, .box input[type="date"]:hover{
    border: 2px solid rgb(165, 138, 238);
}
.box input[type="submit"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #00ffdd;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}
.box input[type="submit"]:hover{
    background: #2ecc71;
}

.boxDisabled input[type="text"], .boxDisabled input[type="email"], .boxDisabled input[type="option"]{
    border: 0;
    background: none;
    display: block;
    text-align: center;
    border: 2px solid  #3cff00;
    padding: 14px 10px;
    width: 100%;
    outline: none;
    color: whitesmoke;
    border-radius: 24px;
    transition: 0.25s;
}
.boxDisabled input::placeholder{
    color: goldenrod;
}

input:required:valid {
    border-color: #3cff00;
}
.btn{
    border: 1px solid orange;
    background: none;
    padding: 10px 20px;
    font-size: 20px;
    font-family: "montserrat";
    cursor: pointer;
    margin: 10px;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
}
.btn1, .btn2{
    color: orange;
}
.btn3, .btn4{
    color: #fff;
}
.btn1:hover, .btn2:hover{
    color: black;
}
.btn3:hover, .btn4:hover, .btn3:focus, .btn3:focus{
    color: orange;
}
.btn::before{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background: orange;
    z-index: -1;
    transition: 0.8s;
}
.btn1::before, .btn3::before{
    top: 0;
    border-radius: 0 0 50% 50%;
}
.btn2::before, .btn4::before{
    bottom: 0;
    border-radius: 50% 50% 0 0;
}
.btn3::before, .btn4::before{
    height: 180%;
}
.btn1::before, .btn2::before{
    height: 0%;
}
.btn1:hover::before, .btn2:hover::before, .btn2:focus::before, .btn1:focus::before{
    height: 180%;
}
.btn3:hover::before, .btn4:hover::before, .btn3:focus::before, .btn4:focus::before{
    height: 0%;
}


.input-field {
  position: relative;
  margin-top: 10%;
  padding: 1%;
  margin-bottom: 1rem;
}
.input-field > label {
  color: #1beed2;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 20px;
  cursor: text;
  -webkit-transition: color .2s ease-out, -webkit-transform .2s ease-out;
  transition: color .2s ease-out, -webkit-transform .2s ease-out;
  transition: transform .2s ease-out, color .2s ease-out;
  transition: transform .2s ease-out, color .2s ease-out, -webkit-transform .2s ease-out;
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
  text-align: initial;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.input-field > label:not(.label-icon).active {
  -webkit-transform: translateY(-24px) scale(0.8);
          transform: translateY(-24px) scale(0.8);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
}

input:not([type]),
input[type=text]:not(.browser-default)
{
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #3cff00;
  border-radius: 0;
  outline: none;
  height: 3rem;
  width: 100%;
  font-size: 16px;
  margin: 0 0 8px -10px;
  padding: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  -webkit-transition: border .3s, -webkit-box-shadow .3s;
  transition: border .3s, -webkit-box-shadow .3s;
  transition: box-shadow .3s, border .3s;
  transition: box-shadow .3s, border .3s, -webkit-box-shadow .3s;
}
input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly])
{
  border-bottom: 1px solid #ff0000;
  -webkit-box-shadow: 0 1px 0 0 #ff0000;
          box-shadow: 0 2px 0 0 #ff0000;
}
input:not([type]):focus:not([readonly]) + label,
input[type=text]:not(.browser-default):focus:not([readonly]) + label{
  color: #26a69a;
}